.process-panel-container {
  position: fixed;
  width: 80vw;
  height: 80vh;
  left: 10vw;
  top: 10vh;
  display: grid;
  grid-template-rows: []38% []15% []5% []20% []25%;
  justify-items: center;
  align-content: start;
  text-align: center;
}
.process-panel-container svg {
  width: 60px;
  fill: #ffffffb4;
}
.process-panel-container-head {
  width: 24%;
  margin-top: -4%;
}
.process-panel-container-img {
    width: 20%
}