.process-panel-container {
  position: fixed;
  width: 80vw;
  height: 80vh;
  left: 10vw;
  top: 13vh;
  display: grid;
  grid-template-rows: []25vh []25% []5% []20% []25%;
  justify-items: center;
  align-content: start;
  text-align: center;
}
.process-panel-container svg {
  width: 60px;
  fill: #E11F2E;
}
.process-panel-container h1 {
  color: #E11F2E;
}
.process-panel-container h2 {
  color: #E11F2E;
}
.process-panel-container-head {
  margin-top: 2%;
  width: 30vh;
}
.process-panel-container-img {
    width: 20%
}