.button-1 {
    border: 1px solid #6C7480;
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    width: 240px;
    font-family: 'medium';
    font-size: 12pt;
    color: #6C7480;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.button-1:hover {
    background-color: #acb4c0;
}
.button-1:disabled {
    border: 1px solid #acb4c0;
    cursor: progress;
    color: #acb4c0;
    opacity: 0.5;
}

.button-2 {
    border: none;
    background-image: linear-gradient(#E41F2E, #B11D23);
    border-radius: 10px;
    height: 40px;
    width: 240px;
    font-family: 'medium';
    font-size: 12pt;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.button-2:hover {
    background-color: #acb4c0;
}
.button-2:disabled {
    border: 1px solid #acb4c0;
    cursor: progress;
    color: #acb4c0;
    opacity: 0.5;
}
.button-3 {
    border: none;
    background-image: linear-gradient(#E41F2E, #B11D23);
    width: 37vw;
    height: 14vw;
    padding: 2vw;
    border-radius: 3vw;
    color: #ffffff;
    font-family: 'medium';
    font-size: 4vw;
    display: grid;
    grid-template-columns: []30% []70%;
    align-items: center;
    justify-items: center;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}
.button-3 b {
    margin-left: 5%;
}
.button-3 svg {
    width: 8vw;
    height: 8vw;
    color: #ffffff;
    fill: #ffffff;
}
.button-4 {
    border: none;
    background: #ffffff;
    border: 1px solid #6C7480;
    width: 37vw;
    height: 14vw;
    padding: 2vw;
    border-radius: 3vw;
    color: #6C7480;
    font-family: 'medium';
    font-size: 4vw;
    display: grid;
    grid-template-columns: []30% []70%;
    align-items: center;
    justify-items: center;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}
.button-4 b {
    margin-left: 5%;
}
.button-4 svg {
    width: 8vw;
    height: 8vw;
    color: #6C7480;
    fill: #6C7480;
}

.button-5 {
    border: 1px solid #6C7480;
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    font-family: 'medium';
    font-size: 12pt;
    color: #6C7480;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.button-5:hover {
    background-color: #acb4c0;
}
.button-5:disabled {
    border: 1px solid #acb4c0;
    cursor: progress;
    color: #acb4c0;
    opacity: 0.5;
}