.monitor-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('./img/background.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}